.cart-header {
  padding-bottom: $gutter;
  border-bottom: 1px solid $color-1;
}

.cart-item {
  align-items: center;
  color: $color-1;
  padding: $gutter-small 0;
  grid-gap: 20px;
  input {
    width: 50px;
    padding: 5px;
    @include media-query($small) {
      width: 35px;
    }
  }
}

.cart-item--details {
  @include media-query($small) {
    text-align: right;
  }
}



.cart-remove-link {
  display: block;
}

.note-container {
  text-align: center;
  display: flex;
  flex-direction: column;

  textarea {
    width: 80%;
    margin: 1rem auto auto;
  }
}

.cart-etc, .cart-continue  {
  padding: $gutter-medium;
  @include media-query($small) {
    padding: $gutter-small
  }
}

.cart-paymenticons {
  grid-gap: $gutter-medium;
  img {
    filter: saturate(0);
  }
}


.cart--labels{
  border-bottom: 1px solid $color-1;
  padding: $gutter-small 0;
}

.cart-footer{
  border-top: 1px solid $color-1;
  padding: $gutter-small 0;
  .footer-checkout {
    max-width: 500px;
    margin-left: auto;
    margin-right: 0;
    button {
      width: 100%;
    }
  }
}

.cart-item--quantity {
  text-align: right;
  @include media-query($small){
    text-align: center;
  }
}

.cart-footer--checkout {
  @include media-query($small){
    grid-row-start: 1;
  }
}

.cart-footer--donation {
  
}

.cart--empty {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}