#archive {
  .image-cover {
    height: 101%;
    min-width: 100%;
    height: 485px;
    @include media-query($small){
      height: 220px;
    }
    cursor: zoom-in;
  }
}

.mfp-container{
  background-color: white;
}