/* page.charity.liquid */

.charity--block {
  background-color: #0A274A;
  color: #FFFFFF;
}

.charity--header {
  height: 60vh;
  max-height: 700px;
  display: grid;
  align-items: center;
  align-content: center;
  @include media-query($small) {
    height: 100%;
    max-height: none;
  }
}

.charity--header-logo {
  width: 250px;
  margin: auto;
  @include media-query($small) {
    width: 150px;
  }
}

.charity--content-logo {
  width: 125px;
  @include media-query($small) {
    width: 75px;
  }
}

.charity--img-l {
  height: 75vh;
  max-height: 850px;
  @include media-query($small){
    height: 65vh;
    max-height: 500px;
  }
}
