/*

SHOPIFY - PAGES
---------------

1.0 - PAGE
2.0 - PAGE.ABOUT
3.0 - PAGE.ARCHIVE
4.0 - PAGE.CONTACT
  4.1 - FORM
  4.2 - FAQ
5.0 - PAGE.FABRICS
6.0 - PAGE.LOOKBOOKS

*/

.page-height {
  min-height: 70vh;
}

/* 2.0 PAGE.ABOUT */

.about-content {
  align-items: start;
}

.about-content {
  .icon-strip {
    width: 100%;
    max-width: 275px;
    margin: auto;
  }
}

/* END 2.0 - PAGE.ABOUT */

/* 4.0 - PAGE.CONTACT */

  /* 4.1 - FORM */
  .contact--form {
    input, textarea{
      border: 1px solid $color-1;
    }
  }


  /* 4.2 - FAQ */
  .faq-tab, .accordion-tab {
    position: relative;
    padding: 10px 0;
    padding-right: 25px;
    border-bottom: 1px solid $color-1;
    label {
      display: inline-block;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .faq-toggle, .accordion-toggle {
    display: none;
  }

  .faq-question:after, .faq-question:before, .accordion-title:after, .accordion-title:before {
    content: '';
    position: absolute;
    right: -1.5em;
    top: 0.35em;
    width: 2px;
    height: 0.75em;
    background-color: $color-1;
    transition: all 0.2s;
  }

  .nav-title:after, .nav-title:before {
    width: 1px;
    right: 0.4em;
    top: 0.15em;
    background-color: $color-bg;
  }

  .faq-question:after, .accordion-title:after {
    transform: rotate(90deg);
  }


  .faq-question, .faq-answer, .accordion-title, .accordion-content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.2s;
  }

  .faq-answer, .accordion-content {
    max-height: 0;
    overflow: hidden;
  }

  .faq-toggle:checked, {
    & + .faq-question + .faq-answer {
      margin-top: 10px;
      max-height: 600px;
    }
    & + .faq-question:before {
      transform: rotate(90deg) !important;
    }
  }

  .accordion-toggle:checked, {
    & + .accordion-title + .accordion-content {
      margin-top: 10px;
      max-height: 600px;
    }
    & + .accordion-title:before {
      transform: rotate(90deg) !important;
    }
  }

/* END 4.0 - PAGE.CONTACT */


/* 6.0 - PAGE.LOOKBOOKS */

.lookbooks {

  .image-cover {
    height: 70vh;
    max-height: 650px;
    @include media-query($small) {
      height: 35vh;
      max-height: 225px;
    }
  }

}

/* END 6.0 - PAGE.LOOKBOOKS */

/*================ Retail Page  ================*/

.retail-page__content{
  max-width: 700px;
}

.retail-page__header{
  margin-bottom: 100px;
}

.retail-page__copy{
  font-size: 20px;
  margin-bottom: $gutter;
}

.retail-page__link{
  text-decoration: underline;
  color: #FF9900;
}

.retail-page-container .email-container .retail-page__copy{
  margin-bottom: 0px;
}

.retail-links {
  display: grid;
  grid-gap: 5px;
}

/*================ Policy Pages  ================*/
.shopify-policy__container{

  margin-top: 90px !important;
}

.copyright-image-container{
  // background: white;
  // padding: 5%;
}

.grid-3.copyright-image-container {
  align-items: center;
}

.shopify-policy__body p{
  margin-bottom: 5px;
}

.shopify-policy__body h3 {
  margin-top: 2em;
}




/*====== NEED TO CLEANUP ========*/
.subheading {
  padding-bottom: 1em;
}

.rte {
  h1, h2, h3 {
    padding: 10px 0;
  }
}

.form-contact {
  width: 100%;
  label {
    padding-bottom: 5px;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}

.rte {
  font-size: $font-size-p;
  @include media-query($small){
    font-size: $font-size-p-mobile;
  }
}

.rte {

  font-size: $font-size-p;
  @include media-query($small){
    font-size: $font-size-p-mobile;
  }

  h1, h2, h3, h4, p, small {
    width: 100%;
    max-width: $width-text;
    margin: auto;
    line-height: 125%;
  }

  h4 {
    padding: $gutter-small 0;
    @include media-query($small) {
      padding: $gutter-xsmall;
    }
  }

  p {
    line-height: 150%;
    padding: $gutter-xsmall 0;
    @include media-query($small){
      padding: 5px 10px;
    }
  }

  img {
    margin: auto;
  }
  
  table {
    table-layout: fixed;
  }
  ul,
  ol {
    // margin: 0 0 ($gutter / 2) $gutter;
  }
  // Match the styles from RTE nested lists
  ul {
    list-style: disc outside;

    ul {
      list-style: circle outside;

      ul {
        list-style: square outside;
      }
    }
  }
}

.lookbook-grid {
  grid-gap: 0;
  align-items: end;
}