.template-password {
  padding: $gutter;
  background-color: #000000;
  h1, h2, h3, h4, p {
    color: #FFFFFF;
  }
}

.password {
  width: 100%;
  overflow: hidden;
}

.password--logo {
  width: 100%;
  max-width: 150px;
  margin: auto;
}

.password-video {
  width: 50%;
  margin: auto;
}


// .password {
//   width: 100%;
//   max-width: 1400px;
//   margin: auto;
//   height: 100vh;
//   overflow: hidden;
//   display: flex;
//   align-content: center;
//   align-items: center;
//   padding: $gutter;
//   @include media-query($small) {
//     min-height: 100vh;
//     padding: $gutter-small;
//     overflow: scroll;
//   }
// }

// .password--image, .password--image > img{
//   height: 75vh;
//   @include media-query($small) {
//     height: 50vh;
//     height: calc(var(--vh, 1vh) * 50);
//   }
// }

// .password--text {
//   padding: $gutter;
//   @include media-query($small) {
//     padding: $gutter-small;
//   }
// }

// .password--subscribe {
//   input {
//     border: 1px solid $color-1;
//   }
//   button {
//     background-color: $color-1;
//   }
// }

// .password--login {
//   width: 100%;
//   max-width: 350px;
//   margin: auto;
//   input {
//     padding: 0 $gutter-xsmall;
//     border: 1px solid $color-1;
//   }
//   button {
//     padding: $gutter-xsmall;
//     color: $color-1 !important;
//     background-color: $color-bg;
//     border: 1px solid $color-1;
//   }
// }