.slider-image {
  width: 100%;
  height: auto;
}

.product-images {
  width: 99.99%;
}

.product-details {
  background: $color-bg;
  color: $color-1;
  height: max-content;
}

.variant-wrapper {
  width: 100%;
}

.currency-wrapper,
.offer-wrapper {
  display: block;
  width: 100%;
}

.add-tocart-message {
  color: $color-bg;
}

.option-name-wrapper {
  text-align: left;
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
  padding: 5px 0;
  @include media-query($small){

  }
}

.option-value-div {
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}

.option-value-label {
  &:hover {
    cursor: pointer;
  }
}

.option-value-div.selected {
  background-color: $color-accent-1;
  color: white;
  .option-value-label {
    color: white;
  }
}

.option-value-div.selected.unavailable .option-value-label{
  color: $color-1 !important;
}

.sticky-add-to-cart{
  height: max-content;
  position: sticky;
  top: $header-bump;
}

.unavailable {
  pointer-events: none !important;
  color: gray !important;
  // text-decoration: line-through !important;
  // background-color: lightgray !important;
  .option-value-label {
    color: grey !important;
  }
}

/* SELECTOR */
.selector-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.product-option-value {
  min-width: 65px;
  padding: 10px;
  margin-right: 4px;
  margin-bottom: 4px;
  @include media-query($small){
    min-width: 70px;
    padding: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
  }
}

.template-product {
  .mfp-bg.mfp-fade {
    background-color: #FFFFFF;
  }
}

.recommended-article, .recommended-fabric {
  .image-cover, .image-cover img {
    height: 38vh;
    max-height: 500px;
    @include media-query($small){
      height: 35vh;
    }
  }
}


.product-single__photo--flex-wrapper {
  width: 49%;
  display: inline-block;
}

.product-single__title {
  border-bottom: 1px solid;
  line-height: 29px;
  padding-bottom: 10px;
}

.product-description {
  margin-top: 25px;
  @include media-query($small){
    margin-top: 20px;
  }
}

.product-single__meta--wrapper{
  margin-left: $gutter-small;
  @include media-query($small){
    margin-left: 0;
    margin-top: $gutter;
  }
}

.product-single__description {
  margin: $gutter-small 0;
}

.site-nav__link {
  @include media-query($small){
    padding: 10px;
  }
}

.product-related {
  width: 50%;
  padding: $gutter-medium;
  @include media-query($small){
    width: 100%;
    padding: $gutter-small 0;
  }
}


/* DONATION */

.template-product--donation label.donation {
  float: none;
  margin-bottom: 40px;
}

.template-product--donation {
  input:checked + .donation, input.active + .donation, .donation:hover {
    background-color: #002e56;
    border: 1px solid #002e56;
  }
}


.template-product{
  .flickity-prev-next-button{
    top:32vw!important;
  }
}

/* RELATED CONTENT */

.product-relatedcontent{
  .gridItem-blog, .gridItem-fabric{
    .article-cover{
      height: 225px;
      @media only screen and (min-width: 450px) and (max-width: 768px){
        height: 300px;
      }
      @include media-query($medium-up){
        height: 300px;
      }
    }
  }
}

.product-relatedcontent {
  display: flex;
  justify-content: center;
  @include media-query($small){
    flex-wrap: wrap;
  }
  .gridItem-blog, .gridItem-fabric {
    width: 50%;
    margin: 0 auto;
    padding: $gutter-xsmall;
    @include media-query($small){
      width: 100%;
      padding: 0;
    }
  }
}

.option-value-div {
  label {
    position: relative;
    padding: 4px;
  }
}

.option-value-div.unavailable label:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  bottom: -3px;
  border-left: 1px solid;
  border-color: grey;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* MFP */
.mfp-arrow {
  opacity: 1;
}

.mfp-close {
  width: 100px;
  height: 100px;
  font-size: 50px;
  opacity: 1;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-a {
  border-right: 15px solid $color-accent-1;
  opacity: 1;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 15px solid $color-accent-1;
  opacity: 1;
}

.mfp-arrow:before {
  border-top-width: 10px;
  border-bottom-width: 10px;
}

.mfp-arrow:after {

  border-top-width: 0;
  border-bottom-width: 0;
}

.continue-shoping-header{
  grid-column: span 4;
    grid-row: 1;
    @media only screen and (max-width: 667px) {
      grid-column: span 2;
    }
}

.grid-break-product {
  @media only screen and (max-width: 950px){
    grid-template-columns: 1fr;
  } 
}

// .site-header__logo-link{
//   color: pink !important;
// }