.section-navigation{
	li {
		flex: 1;
		margin: 5px;
		background-color: #F5F5F5;
		@include media-query($small){
			margin: 1px;
		}
	}
}


.mobilenav-sublist li {
    padding: 12px 8px!important;
    border: 0px !important;
    font-family: arial!important;
    background-color: #03345f;
    margin-bottom: 4px!important;
}


/* 0.1 DRAWER-HEADER */
.navdrawer--header {
  width: 100%;
  height: $header-bump-mobile;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-bg;
}


/* 0.2 DRAWER-CONTENT */
.navdrawer--content{
  position: absolute;
  top: $header-bump-mobile;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 $gutter-small;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.navdrawer--content-main {
  .navitem--mobile {
    padding: $gutter-small 0;
    border-bottom: 1px solid $color-bg;
  }
}

.mobilenav-sublist {
  .navitem--mobile {
    padding: 18px 0;
    font-size: 12px;
    padding-left: $gutter-small;
  }
}

.navdrawer--content-secondary {
  margin-top: $gutter-small;
  margin-bottom: $gutter-large;
}


.site-nav__expanded-item{
 margin-right: 10px;
}


.nav-item--dropdown-single{
	padding: 15px 12px;
}

.nav-item--parent:hover>.nav-item--dropdown {
    min-width: 100px;
    max-height: 90vh;
    padding: 15px 12px;
		opacity: 1;

}
.nav-item--dropdown{
		opacity: 0;
		min-width: 100%;
}


.nav-item--parent:hover .megamenu {
    left: -580%;
    padding: 30px;
		opacity: 1;
}
.megamenu {
	left: -580%;
	opacity: 0;
	 padding: 0px 30px;
}
.mega-img{
	max-width: 180px;
	height: 200px!important;
}
.nav-item--child {
    padding: 5px 15px 5px 0px;
}
