/*
VARIABLES.SCSS
--------------

/* 1.0 - BREAKPOINTS */
/* 1.1 - SCREENS */
$size-mobile: 769px;
$size-table: 1024px;
$size-desktop: 1200px;
$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
/* 1.1 - MIXIN SETUP */
$breakpoints: (
  $small '(max-width: #{$size-mobile - 1})',
  $medium '(min-width: #{$size-mobile}) and (max-width: #{$size-desktop - 1})',
  $medium-down '(max-width: #{$size-table - 1})',
  $medium-up '(min-width: #{$size-table + 1})',
  $large '(min-width: #{$size-desktop})'
);
$breakpoint-has-widths: (
  'small',
  'medium',
  'medium-down',
  'medium-up',
  'large'
);
/* END 1.0 - BREAKPOINTS */

/* 2.0 - SPACING */

/* WIDTHS */
$width-full: 100%;
$width-content: 1200px;
$width-half: 50%;
$width-max: 1600px;
$width-text: 600px;

.width-full {
  width: $width-full;
}
.width-max {
  max-width: $width-max;
  margin: auto;
}
.width-half {
  width: $width-half;
}
.width-content {
  width: 100%;
  max-width: $width-content;
  margin: auto;
  position: relative;
  z-index: 11;
  @media screen and (max-width: $size-mobile) {
    width: 100%;
    padding: 20px;
  }
}

.width-text {
  width: 100%;
  max-width: 800px;
  margin: auto;
}


/* SPACERS */
$spacer: 5px;
$spacer-xs: $spacer;
$spacer-s: $spacer+10;
$spacer-m: $spacer+30;
$spacer-l: $spacer+50;
$spacer-xl: $spacer+80;

.spacer-xs {
  width: 100%;
  height: $spacer-xs;
}
.spacer-s {
  width: 100%;
  height: $spacer-s;
}
.spacer-m {
  width: 100%;
  height: $spacer-m;
  @media screen and (max-width: $size-mobile) {
    height: $spacer-s;
  }
}
.spacer-l {
  width: 100%;
  height: $spacer-l;
  @media screen and (max-width: $size-mobile) {
    height: $spacer-m;
  }
}
.spacer-xl {
  width: 100%;
  height: $spacer-xl;
  @media screen and (max-width: $size-mobile) {
    height: $spacer-l;
  }
}



/* 2.3 - GUTTERS */
// GUTTER IS FOR LEFT/RIGHT PADDING
// PAD IS FOR ALL SIDES
// USAGE EXAMPLE
// -------------
// section{
//   padding: $gutter;
//   @include media-query($medium){
//     padding: $gutter-small;
//   };
// }

$gutter: 50px;
$gutter-xsmall: $gutter/5;
$gutter-small: $gutter/2.5;
$gutter-medium: $gutter/1.5;
$gutter-large: $gutter*1.5;

.gutter {
  padding: 0 $gutter;
  @media screen and (max-width: $size-mobile) {
    padding: 0 $gutter-small;
  }
}
.gutter-small {
  padding: 0 $gutter-small;
}
.gutter-medium {
  padding: 0 $gutter-medium;
}
.gutter-large {
  padding: 0 $gutter-large;
}
.pad {
  padding: $gutter;
}
.pad-small {
  padding: $gutter-small;
}
.pad-medium {
  padding: $gutter-medium;
}
.pad-large {
  padding: $gutter-large;
}

$header-bump: var(--header-bump);
$header-bump-mobile: var(--header-bump-mobile);

.header-bump {
  margin-top: $header-bump;
  @media screen and (max-width: $size-mobile) {
    margin-top: $header-bump-mobile;
  }
}


/*



*/
/* 3.0 - COLORS */
$color-1: var(--color-text);
$color-bg: var(--color-bg);
$color-link: var(--color-links);
$color-accent-1: var(--color-accent-1);
$color-accent-2: var(--color-accent-2);

.color-1 {
  color: $color-1;
}
.color-bg {
  color: $color-bg;
}
.color-link {
  color: $color-link;
}
.color-accent {
  color: $color-accent-1 !important;
}
.color-accent-2 {
  color: $color-accent-2 !important;
}
.bg-accent1 {
  background-color: $color-accent-1 !important;
}
.bg-accent2 {
  background-color: $color-accent-2 !important;
}




// Helper colors for form error states
$color-disabled: #000;
$color-disabled-border: #000;
$color-error: #a85454;
$color-error-bg: lightyellow;
$color-success: green;
$color-success-bg: lightgreen;

.color-disabled {
  color: $color-disabled;
}
.color-disabled-border {
  color: $color-disabled-border;
}
.color-error {
  color: $color-error;
}
.color-error-bg {
  color: $color-error-bg;
}
.color-success {
  color: $color-success;
}
.color-success-bg {
  color: $color-success-bg;
}

body {
  background-color: $color-bg;
  color: $color-1;
}

a:hover {
  color: $color-accent-1;
}
/* 4.0 - TYPOGRAPHY */
/*================ Typography & Text ================*/
$font-1: var(--font-first);
$font-2: var(--font-second);
$font-3: var(--font-third);
$font-weight-normal: 400;
$font-weight-bold: 700;

.font1 {
  font-family: $font-1;
  font-weight: $font-weight-normal;
}
.font2 {
  font-family: $font-2;
  font-weight: $font-weight-normal;
}
.font3 {
  font-family: $font-3;
  font-weight: $font-weight-normal;
}
$font-size-base: 13px;
$font-size-h1: $font-size-base + 35;
$font-size-h2: $font-size-base + 30;
$font-size-h3: $font-size-base + 15;
$font-size-h4: $font-size-base + 4;
$font-size-p: $font-size-base;
$font-size-small: $font-size-base - 2;
$font-size-h1-mobile: $font-size-h1 * 0.65;
$font-size-h2-mobile: $font-size-h2 * 0.65;
$font-size-h3-mobile: $font-size-h3 * 0.65;
$font-size-h4-mobile: $font-size-h4 * 0.65;
$font-size-p-mobile: $font-size-p * 1;
$font-size-small-mobile: $font-size-small * 0.85;

h1 {
  font-size: $font-size-h1;
  color: inherit;
  text-transform: capitalize;
  letter-spacing: normal;
  @media screen and (max-width: $size-mobile) {
    font-size: $font-size-h1-mobile;
  }
}

h2 {
  font-size: $font-size-h2;
  color: inherit;
  text-transform: capitalize;
  letter-spacing: normal;
  @media screen and (max-width: $size-mobile) {
    font-size: $font-size-h2-mobile;
  }
}

h3 {
  font-size: $font-size-h3;
  color: inherit;
  text-transform: capitalize;
  letter-spacing: normal;
  @media screen and (max-width: $size-mobile) {
    font-size: $font-size-h3-mobile;
  }
}

h4 {
  font-size: $font-size-h4;
  color: inherit;
  text-transform: capitalize;
  letter-spacing: normal;
  @media screen and (max-width: $size-mobile) {
    font-size: $font-size-h4-mobile;
  }
}

p {
  font-size: $font-size-p;
  color: inherit;
  line-height: 120%;
  letter-spacing: 0.01em;
  @media screen and (max-width: $size-mobile) {
    font-size: $font-size-p-mobile;
  }
}

small {
  font-size: $font-size-small;
  color: $color-1;
  display: inherit;
  text-transform: capitalize;
  @media screen and (max-width: $size-mobile) {
    font-size: $font-size-small-mobile;
  }
}

.h1 {
  font-size: $font-size-h1;
}

.h2 {
  font-size: $font-size-h2;
}

.h3 {
  font-size: $font-size-h3;
}

.h4 {
  font-size: $font-size-h4;
}

.p {
  font-size: $font-size-p;
  color: $color-1;
  line-height: 120%;
  letter-spacing: 0.01em;
  @media screen and (max-width: $size-mobile) {
    font-size: $font-size-p-mobile;
  }
}

.small {
  font-size: $font-size-small;
  @media screen and (max-width: $size-mobile) {
    font-size: $font-size-small-mobile;
  }
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
/*================ Responsive Text Alignment Mixin ================*/
@mixin responsive-text-align-helper($breakpoint: '') {
  // sass-lint:disable no-important
  .#{$breakpoint}text-left {
    text-align: left !important;
  }

  .#{$breakpoint}text-right {
    text-align: right !important;
  }

  .#{$breakpoint}text-center {
    text-align: center !important;
  }
}
