@charset 'UTF-8';

/* COMPONENTS */
@import "./styles/components/_header.scss";
@import "./styles/components/_slideshow.scss";


html {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .main-content-{
    margin-top: 100px;
  }
}